.App {
  padding: 5%;
}

.icon-left {
  position: absolute;
  top: 2%;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 81%;
  right: 10px;
}

.season-display.winter i {
  color: #90ffb9;
}

.season-display.summer i {
  color: rgb(255, 211, 89);
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.winter {
  background-image: radial-gradient(#c2ffd8 10%, #465efb 100%);
}

.summer {
  background-image: radial-gradient(#f9d423 0%, #f83600 100%);
}

.borderWhite {
  border: 10px solid rgb(238, 238, 238);
}
